@import 'partials/panel';
@import 'partials/loading';
@import 'partials/home';
@import 'partials/_variables';
@import 'partials/edit';
@import 'partials/login';
@import 'partials/checkbox';

html {
  height: 100%;
}

html,
body {
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $col-text;
  font-family: 'Roboto', sans-serif;
  background-color: $col-bg;
  position: relative;
  margin: 0;
  padding-bottom: 2rem;
  min-height: 100%;
  height: auto;
  background: $col-bg;
  overflow-x: hidden;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Set your content font stack here: */
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: .5em;
  a {
    font-weight: bold;
    color: $col-text;
  }
}

.content {
  height: 100%;
  width: 100%;
}

.button.success {
  background-color: $col-pink;
  color: $col-bg;
  font-weight: bold;
  &:hover {
    background-color: darken($col-pink, 5%);
    color: $col-bg;
  }
}

.button.primary {
  background-color: $col-bg;
  color: $col-bg;
  font-weight: bold;
  &:hover {
    background-color: darken($col-bg, 5%);
    color: $col-bg;
  }
}

.message--error {
  background-color: $col-light-red;
  color: $panel-bg;
  border-radius: 5px;
  border: 1px solid $col-light-red;
  padding: .4em;
}

input {
  border-radius: 5px !important;
}

.header {
  margin: 0;
  .header--logout {
    color: $panel-bg;
    display: inline-block;
    padding: 1em;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  @media screen and (max-width: 750px) {
    flex-direction: column;
  }
}

.body__background {
  background: darken($col-bg, 4%);
}

input[type="submit"].button--login {
  color: $col-pink !important;
}

.hidden {
  display: none !important;
}