extends layout

block content
  article.login.flex
    .small-12.large-6.columns.login__logo
      a(href="/")
        img(src="./images/logo_miniTalaia.png", alt="")
      p.text-center.login__logo__welcome.login__logo__welcome--title Welcome
      p.text-center.login__logo__welcome node properties editor
    .large-6.columns.body__background
      form.login__form(action="/login" method="POST")
        p Log in
        if (error)
          p.text-center.message--eror=error
        input(type='text', placeholder='Username' name="username")
        input(type='password', placeholder='Password' name="password")
        p.text-right
          input.button.expanded.primary(type='submit', value='Enter')
    