$col-light-yellow: #ffff91;
$col-light-green: #B1FD79;
$col-light-red: #FF9B93;
$col-grey: #afafab;
// Panel
$panel-bg: #222;
$panel-header-bg: #444;
$panel-text: #f1f1f1;
$panel-font: 'Inconsolata',
monospace;
// loading
$offset: 187;
$duration: 1.4s;