$col-light-green: #418873;
$col-green: #0ea95d;
$col-green-support: #01b06b;
$col-light-red: #f6726f;
$col-grey: #a9a9a9;
$col-pink: #f6726f;
// Panel
$panel-bg: #fff;
$panel-header-bg:$panel-bg;
$panel-text: #5b5b5b;
$panel-file: #9c8e36;
$panel-font: 'Inconsolata',
monospace;
// loading
$offset: 187;
$duration: 1.4s;
$col-bg:#16a085;
$col-text: $panel-bg;
$shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.2);